@import url('https://fonts.googleapis.com/css2?family=Krub&display=swap');

:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    background-image: linear-gradient(to right, var(--blanco)0%, var(--grisClaro)100%);
    *. *:before, *:after{
        box-sizing: inherit;
    }
}

body{
    font-size: 16px;
    font-family: krub, sans-serif;
    font-weight: bold;
}

/*Tipografía*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h3, h2, h1{
    text-align: center;
}

/*.title{
    text-align: center;
    font-size: 3.8rem;
    font-family: krub, handlee, solitreo;
}*/

.title span{
    font-size: 2rem;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.main_browsing{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--secundario);
    font-weight: bold;
    font-size: 2 rem;
}

.main_browsing a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
}

.main_browsing a:hover{
    background-color: var(--primario);
    color: var(--obscuro);
}

@media (min-width: 768px){
    .main_browsing{
        flex-direction: row;
    }
}

/*Hero Styles*/
.hero{
    background-image:url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height:450px;
    position:relative;
    margin-botton: 2rem;
}

.container-hero{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height:100%;

    /*Alinear*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-hero p, .container-hero h2{
    color: var(--blanco);
    font-weight: bold;
}

.location{
    display:flex;
    align-items: flex-end;
}

.contactMe_button{
    background-color: var(--secundario);

    border-radius: 1rem;
    padding: 1rem 3rem;
    margin-top: 3rem;

    text-decoration: none;
    color: var(--blanco);


    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 15rem;
}

.shadowxd {
    box-shadow: -4px 8px 46px 12px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px 8px 46px 12px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 8px 46px 12px rgba(0,0,0,0.75);
background-color: var(--blanco);
padding: 2rem;
border-radius: 1rem;

margin: auto;
width: 80%;
margin-top: 2rem;
}

main{
}

@media (max-width){
    .main_browsing {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 768px){
    .contactMe_button{
        width: auto;
    }
    .myServices{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;

    }
}

/*-----------------------------------------------------*/
/*CSS para servicions*/
.myService{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.myService h3{
    color: var(--secundario);
    font-weight: normal;
}

.myService p{
    line-height:2;
    text-align: center;
}

.myService .icons {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
